{% extends 'base.html' %}

{% block content %}

<ul>
    <li>
        <img src="" alt="THIS IS IMG">
        <h3>Michael</h3>
        <h3>Alabaser</h3>
        
    </li>

    <li>
        <img src="" alt="THIS IS IMG">
        <h3>Michael</h3>
        <h3>Alabaser</h3>
        
    </li>

    <li>
        <img src="" alt="THIS IS IMG">
        <h3>Michael</h3>
        <h3>Alabaser</h3>
        
    </li>

    <li>
        <img src="" alt="THIS IS IMG">
        <h3>Michael</h3>
        <h3>Alabaser</h3>
        
    </li>
</ul>


{% endblock content %}